<div class="mx-5 mt-4 px-5">
  <h3 class="text-center text-primary">Add Kitten</h3>

  <form #kittenForm="ngForm" (ngSubmit)="kittenForm.valid && onSubmit()">
    <div class="mt-4">
      <label for="name" class="form-label">Kitten Name</label>
      <input name="name" type="text" class="form-control" [(ngModel)]="kitten.name" #name="ngModel" required>

      <div *ngIf="name.errors">
        <span *ngIf="name.errors?.['required']" class="text-danger">Kitten name is required</span>
      </div>
    </div>

    <div class="mt-4">
      <label for="dateOfBirth" class="form-label">Kitten date of birth</label>
      <input name="dateOfBirth" type="date" class="form-control" [(ngModel)]="kitten.dateOfBirth" required>

      <div *ngIf="name.errors">
        <span *ngIf="name.errors?.['required']" class="text-danger">Kitten date of birth is required</span>
      </div>
    </div>

    <div class="mt-4">
      <label for="image" class="form-label">Kitten image</label>
      <input name="image" type="text" class="form-control" [(ngModel)]="kitten.image" required>

      <div *ngIf="name.errors">
        <span *ngIf="name.errors?.['required']" class="text-danger">Kitten image is required</span>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-2">
      <button *ngIf="kittenForm.invalid" type="submit" class="btn btn-danger">Form invalid</button>
      <button *ngIf="kittenForm.valid" type="submit" class="btn btn-success">Add a kitten</button>
    </div>

    </form>
</div>
<hr class="border border-primary border-3 opacity-100">

<div class="container-fluid mb-5">
  <div class="row">
      <div class="col-2 col-md-3 col-xl-2 px-0 px-2">
        <app-user-kitten></app-user-kitten>
      </div>
      <div class="col-10 col-md-9 col-xl-10 px-0">
        <app-list-kitten>
        </app-list-kitten>
      </div>
  </div>
</div>
