  <div class="container">
    <h2 class="text-center text-primary">Kitten List</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-img-top">
            <img src="http://placekitten.com/200/100" alt="cat" >
            <div class="overlay">
              <div class="text">Hello World</div>
            </div>
          </div>
          <div class="card-body">
              <div class="btn-group d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-sm btn-outline-success">Adopt kitten</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
