  <div class="container">
    <h2 class="text-center text-primary">Kitten List</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div *ngFor="let kitten of kittenList" class="col">
        <div class="card shadow-sm">
            <img src="{{image}}" alt="cat" >
          <div class="card-body">
              <div class="btn-group d-flex justify-content-center align-items-center">
                <p>Kitten Name: {{name}}</p>
                <p>Kitten Date of Birth: {{dateOfBirth | date:'shortDate' }}</p>
                <button type="button" class="btn btn-sm btn-outline-success">Adopt kitten</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
